<!DOCTYPE html>
<html>
  <head>
    <title>Dough Vault</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>    
    <%= favicon_link_tag asset_path('logo.png') %>  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
